.horizontal {
    overflow-x: hidden;
}
.react-horizontal-scrolling-menu--scroll-container {
    overflow-x: hidden;
}
.horizontal__item {
    margin: 0 40px;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}