.exercise-card {
  margin: 20px 10px;
  position: relative;

  img {
    width: 300px;
    border-top: 4px solid var(--primary);
    &:hover {
      border-color: rgb(10, 144, 253);
    }
  }
}
.exercise-card__btn {
  margin-left: 20px;
  color: var(--while);
  text-transform: capitalize;
  opacity: 0.7;
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
}

.card__btn-item:nth-child(2) {
  background-color: #ffc757;
  border: none;
  p {
    width: 50px;
    height: 18px;
    -webkit-line-clamp: 1; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.exercise-card__name {
  // position: absolute;
  // bottom: 6px;
  // left: 50%;
  // transform: translateX(-50%);
  display: block;
  display: -webkit-box;
  margin-top: 4px;
  font-weight: 700;
  text-transform: capitalize;
  width: 300px;
  text-align: center;
  font-size: 1.8rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
