.navbar {
    display: flex;
    width: 600px;
    justify-content: space-around;
    margin-top: 32px;

    @media screen and (max-width: 420px) {
        width: 100%;
      }
}
.logo{
    width: 48px;
    height: 48px;
    margin: 0 20px;
}
.menu {
    display: flex;
    gap: 40px;
    font-size: 2.4rem;
    align-items: flex-end;
}